:root {
  --color: #171923;
  --bg: white;
  --accent: #1a5fff;
  --normal: 16px;
  --title: 64px;
  --heading: 32px;
  --subheading: 24px;
  --nav: 64px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: white;
    --bg: #171923;
    --accent: #4b83ff;
  }
}

*::selection {
  background-color: var(--accent);
  color: var(--bg);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--bg);
  color: var(--color);
  font-size: var(--normal);
  font-family: 'Outfit';
  font-weight: normal;
  overflow-x: hidden;
}

button, a, textarea {
  font-family: inherit;
  font-size: var(--normal);
  font-weight: normal;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg);
  z-index: 1;
}

header .auto {
  display: flex;
  justify-content: space-between;
}

#logo {
  padding: 0 32px;
}

nav {
  display: flex;
  align-items: center;
  height: var(--nav);
}

nav a {
  display: flex;
  padding: 0 32px;
  height: 100%;
  border-radius: 8px;
  transition: all 250ms;
}

nav a:hover {
  color: var(--accent);
}

header #action {
  width: 25%;
}

header button {
  margin-inline: 8px;
}

a {
  color: inherit;
  text-decoration: none;
  outline: 0;
}

h1, h2, h3 {
  color: inherit;
  font-weight: 600;
}

h1 {
  font-size: var(--title);
}

h2 {
  font-size: var(--heading);
}

h3 {
  font-size: var(--subheading);
}

p a {
  position: relative;
  color: transparent;
  font-weight: bold;
  background-color: var(--accent);
  background-image: linear-gradient(to right, var(--color), var(--color));
  background-position: 100%;
  background-size: 0%;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  transition: background-size 250ms ease-out;
}

p a:hover {
  background-position: 0;
  background-size: 100%;
}

p a:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: 0;
  background: var(--accent);
  height: 2px;
  border-radius: 1px;
  transition: width 250ms ease-out;
}

p a:hover:after {
  left: 0;
  right: auto;
  width: 100%;
}

.auto {
  box-sizing: border-box;
  width: 1024px;
  margin: auto;
  overflow: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top {
  margin-top: var(--nav);
}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#pill {
  margin: 0 0 8px;
  padding: 4px 16px;
  border: 2px solid var(--color);
  border-radius: 100vmax;
  text-transform: uppercase;
  font-size: 16px;
}

#banner h1 {
  margin-block: 0 0;
}

@media screen and (max-width: 1024px) {
  .auto {
    width: 100%;
  }
}