:root {
  --color: #171923;
  --bg: white;
  --accent: #1a5fff;
  --normal: 16px;
  --title: 64px;
  --heading: 32px;
  --subheading: 24px;
  --nav: 64px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: white;
    --bg: #171923;
  }
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--bg);
  color: var(--color);
  font-size: var(--normal);
  font-family: 'Outfit';
  font-weight: normal;
  overflow-x: hidden;
}

button, a, textarea {
  font-family: inherit;
  font-size: var(--normal);
  font-weight: normal;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header .auto {
  display: flex;
  justify-content: space-between;
}

#logo {
  padding: 0 32px;
}

nav {
  display: flex;
  align-items: center;
  height: var(--nav);
}

nav a {
  display: flex;
  padding: 0 32px;
  height: 100%;
  border-radius: 8px;
  transition: all 250ms;
}

nav a:hover {
  opacity: 0.75;
}

header #action {
  width: 25%;
}

header button {
  margin-inline: 8px;
}

main {
  overflow: auto;
}

a {
  color: inherit;
  text-decoration: none;
  outline: 0;
}

h1, h2, h3 {
  font-weight: 600;
}

h1 {
  color: inherit;
  font-size: var(--title);
}

.auto {
  width: 1024px;
  margin: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .auto {
    width: 100%;
  }
}